<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Transfer Your Miles</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <style>
        .form-group{
            text-align:center;
            }
    .jumbotron {
           padding: 10px;
                }
    </style>

</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container-fluid justify-content-md-center">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Transfer Your Miles</h5>
                <p class="card-text" id="account">Transfer your miles to your Account</p>
                <div class="container">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-8">
                            <div class="jumbotron">
                                <div class="container">
                                    <p style="margin:unset;" class="lead">50000 - 50000 = 0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-6">

                            <form>
                                <div class="form-group">
                                    <label for="rewards" >Total Rewards to Transfer</label>
                                    <input type="text" class="form-control" id="rewards"  placeholder="Rewards to transfer" onfocusout = 'calculate()'>
                                    <div id ="miles"></div>
                                </div>
                                <button type="submit" onclick="transfer()" class="btn btn-primary">Complete Transfer</button>
                            </form>

                        </div>
                    </div>

                </div>



            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>

    <script>
       
        var programId = sessionStorage.getItem('programId')
        var membershipId = sessionStorage.getItem('membershipId')

        
        function makeRequest(url,method,values) {
            return new Promise(function (resolve, reject) {

                let request = new XMLHttpRequest();

                request.open(method, url);
                request.onload = function () {
                    if (this.status >= 200 && this.status < 300) {
                        resolve(request.response);
                    } else {
                        reject({
                            status: this.status,
                            statusText: request.statusText
                        });
                    }
                };
                request.onerror = function () {
                    reject({
                        status: this.status,
                        statusText: request.statusText
                    });
                };

                request.send(values);
            });
        }

        var account = document.getElementById('account')
        var rewards = document.getElementById('rewards').value
        var miles = document.getElementById('miles')
        var currency = "";
        var exchange = 0 ;
        async function getProgramInfo(){
         
            let result = await makeRequest('http://localhost:8094/programs/'+ programId, "GET","");
            var program = JSON.parse(result);
            account.innerText = 'Transfer your miles to your ' + program.programName + ' account :\n' + membershipId;
            exchange = program.currencyRate; 
            currency = program.currencyName;
            if(rewards==0){
                miles.innerHTML='<p>0'+program.currencyName+'</p>'
            }

         
     };
     var equal = 0 ;
     function calculate(){
        rewards = document.getElementById('rewards').value
        if(rewards==0){
                miles.innerHTML='<p> '+equal+' '+currency+'</p>'
            }else{
                equal = rewards/exchange
                miles.innerHTML='<p> '+equal + " " + currency+'</p>'
            }
     }

     getProgramInfo();

     async function transfer(){
         
         let result = await makeRequest('http://localhost:8094/transfer/'+ programId, "GET","");
         var program = JSON.parse(result);
         account.innerText = 'Transfer your miles to your ' + program.programName + ' account :\n' + membershipId;
         exchange = program.currencyRate; 
         currency = program.currencyName;
         if(rewards==0){
             miles.innerHTML='<p>0'+program.currencyName+'</p>'
         }
        }
    </script>
</body>
</html>